/*
  Color scheme
  rosey roses: FF8591
  peachy keen: EFAAA3
  blue sky: 8CAAA2
  acrobatic: 5A9B95
  our inspiration now: 44878F
*/

/*
  Header
*/
header {
  padding-top: 40px;
  background-color: #EFAAA3;
}
header > nav {
  padding-left: 20vw;
  padding-right: 20vw;
}
header > nav > a {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}
header > nav > a:hover {
  background-color: #FF8591;
  color: white;
  text-decoration: none;
}

/*
  Global
*/
body > section.banner {
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

/*
  Home
*/
body#home > section.banner {
  background-image: url('img/home.jpg');
}
body#home > section.banner > div {
  opacity: 0.75;
  display: inline-block;
  width: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
  color: white;
  background: #8CAAA2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8CAAA2, #44878F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8CAAA2, #44878F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8CAAA2, #44878F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8CAAA2, #44878F); /* Standard syntax */
}

/*
  Contact
*/
body#contact > section.banner {
  background-image: url('img/contact.jpg');
  height: 90vh;
}
body#contact > section.banner > form {
  display: inline-block;
  min-width: 400px;
  max-width: 900px;
  width: 50vw;
  background-color: #5A9B95;
  border-radius: 4px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  opacity: 0.8;
  box-shadow: 0px 0px 4px black;
}
body#contact > section.banner > form > * {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  padding: 10px;
}
body#contact > section.banner > form > p, h2 {
  color: white;
}
body#contact > section.banner > form > p {
  font-size: 16px;
}
body#contact > section.banner > form > textarea {
  resize: none;
}