/*
  Color scheme
  http://www.colourlovers.com/palette/1505504/Ballerina
  rosey roses: FF8591
  peachy keen: EFAAA3
  blue sky: 8CAAA2
  acrobatic: 5A9B95
  our inspiration now: 44878F
*/

/*
  Global
*/
body > section.banner {
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  height: 90vh;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*  
  Header
*/
header {
  padding-top: 40px;
  background-color: #EFAAA3;
}
header > nav {
  padding-left: 20vw;
  padding-right: 20vw;
}
header > nav > a {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  animation-name: navUnHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
header > nav > a.active {
  background-color: #FF8591;
  color: white;
}
header > nav > a:hover {
  text-decoration: none;
  animation-name: navHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes navHover {
  from {
    background-color: none;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}
@keyframes navUnHover {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: none;
    color: white;
  }
}

/*
  Home
*/
body#home > section.banner {
  background-image: url('img/home.jpg');
}
body#home > section.banner > div {
  opacity: 0.75;
  display: inline-block;
  width: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
  color: white;
  background: #8CAAA2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8CAAA2, #44878F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8CAAA2, #44878F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8CAAA2, #44878F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8CAAA2, #44878F); /* Standard syntax */
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

/*
  Contact
*/
body#contact > section.banner {
  background-image: url('img/contact.jpg');
}
body#contact > section.banner > form {
  display: inline-block;
  min-width: 400px;
  max-width: 900px;
  width: 50vw;
  background-color: #5A9B95;
  border-radius: 4px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  opacity: 0.8;
  box-shadow: 0px 0px 4px black;
}
body#contact > section.banner > form > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  padding: 10px;
}
body#contact > section.banner > form > p, h2 {
  color: white;
}
body#contact > section.banner > form > p {
  font-size: 16px;
}
body#contact > section.banner > form > textarea {
  resize: none;
}